* {
    border: none;
    /* border-radius: 0; */
    font-family: JetBrainsMono, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: alpha(#444e56, 0.8);
    color: white;
    border-bottom: 3px solid transparent;
    transition: all 250ms ease-in-out;
    border: 1px solid #65832e;
}

#workspaces button.focused {
    background: #444e56;
    border-bottom: 3px solid white;
    border-radius: 100px;
    min-width: 30px;
    transition: all 250ms ease-in-out;
}

#mode, #clock, #network, #pulseaudio {
    padding: 0 15px;
}

#power-profiles-daemon {
    margin-left: 15px;
}

#cpu {
    margin-right: 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #64727D;
    margin-left: 15px;
    padding: 0 5px;
}

#pulseaudio {
    margin-left: 15px;
}

/* #battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
} */

/* @keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
} */

/* #battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: 
    eps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */
